*.suo
releases/*
*.user
bin/
obj/
.vs/
MurrayGrant.snk

trunk/KeePassReadablePassphrase/ReadablePassphrase.dll
trunk/KeePassReadablePassphrase/ReadablePassphrase.pdb
trunk/PassphraseGenerator.zip
trunk/RandomTests.xlsx
trunk/ReadablePassphrase.plgx
trunk/randomised scowl list.txt
ReadablePassphrase.Words.*
trunk/ReadablePassphrase.build/
trunk/PassphraseGenerator.net452.zip
trunk/PassphraseGenerator.netcoreapp21.zip
trunk/NuGet.config
dictionary.xml
dictionary.xml.gz
trunk/RandomiseWordList/diceware.wordlist.sig
trunk/PassphraseGenerator.netcoreapp31.zip
